.heading {
  font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
  font-weight: 600;
}

@media (min-width: 1200px) {
  .heading {
    font-weight: 700;
  }
}

.sub-heading {
  font-family: 'Times New Roman', Times, serif;
}

.price{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/* .delete-price, .quantity{
  font-size: 14px;
  color: gainsboro;
} */


.paragraph {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

